<form class="w3-container" action="/waktu?halaman=waktu" method="POST">
    <h2>waktu pemakaian</h2>
    <p><select class="w3-select" name="id">
      <option value="" disabled selected>nama device</option>
      {% for row in data2 %}
      <option value="{{row[0]}}">{{row[1]}}</option>
      {% endfor %}
    </select></p>
    <p><input class="w3-input w3-hover-green" type="text" name="jam" placeholder="jam mulai"></p>
    <input type="submit" class="w3-button w3-teal" value="submit">
</form>
<div class="w3-container">
    <h2>data device</h2>
    <div class="w3-responsive">
    <table class="w3-table-all w3-text-black">
    <tr>
      <th>Nama Device</th>
      <th>jam menyala</th>
      <th>daya</th>
      <th>kelas prioritas</th>
      <th>action</th>
    </tr>
    {% for row in data2 %}
    <tr>
      <td>{{row[1]}}</td>
      <td>{{row[5]}}</td>
      <td>{{row[2]}}</td>
      <td>{{row[4]}}</td>
      <td><button class="w3-btn w3-green">edit</button><button class="w3-btn w3-red">delete</button></td>
    </tr>
    {% endfor %}
    </table>
    </div>
</div>